.contact {
    display: grid;
    justify-items: center;
    align-items: center;
    padding: var(--size-root-full);
    animation: fadeUp var(--duration);

    form {
        @include containerLayout(
            grid,
            $rows: auto, 
            $columns: repeat(3, minmax(200px, 1fr)),
            $gap: var(--size-root-full), 
            $padding: var(--size-root-full),
            $width: var(--size-max),
            $margin: 0 auto
        );
        border-radius: var(--border-radius);

        @include breakpoint(small) {
            width: 90vw;
        }

        .element {
            @include containerLayout(
                grid,
                $rows: 1fr, 
                $columns: 1fr,
                $gap: var(--size-root-quarter), 
                $padding: var(--size-root-quarter),
                $width: 100%,
                $margin: 0 auto
            );
        }

        button {
            margin: 0 0 0 auto;
        }
    }

    & .response {
        text-align: center;
    }

    label {
        color: var(--color-label);
    }

    input[type='email'],
    input[type='number'],
    input[type='password'],
    input[type='search'],
    input[type='tel'],
    input[type='text'],
    input[type='url'],
    textarea {
        color: var(--color-input-fg);
        font-family: var(--font-family-input);
        font-weight: var(--font-weight-input);
        background-color: var(--color-input-bg);
        padding: var(--size-root-full);
        border-radius: var(--border-radius);
        border: 1px solid var(--color-input-border);

        &:focus::placeholder {
            color: var(--color-placeholder);
            transition: var(--duration);
        }
    }

    textarea {
        width: 100%;;
        resize: none;
    }
}