.contribute {
    @include containerLayout(
        grid,
        $rows: auto, 
        $columns: 1fr,
        $gap: var(--size-root-full), 
        $padding: 0,
        $width: var(--size-recipe),
        $margin: 0 auto
    );
    animation: fadeUp var(--duration);

    &__form {
        @include containerLayout(
            grid,
            $rows: auto, 
            $columns: repeat(2, 1fr),
            $gap: var(--size-root-full), 
            $padding: 0,
            $width: var(--size-max),
            $margin: 0
        );
        
        & > p {
            grid-column: 1/-1;
        }

        fieldset {
            grid-column: 1/-1;
            @include containerLayout(
                grid,
                $rows: auto,
                $columns: 1fr,
                $gap: var(--size-root-full), 
                $padding: var(--size-root-full),
                $width: 100%,
                $margin: 0
            );
            line-height: calc(var(--line-height)*2);
            border-radius: var(--border-radius);
            box-shadow: var(--box-shadow-ui);
            background-color: var(--color-card-background);
            animation: fadeIn var(--duration-quick);   
        }

        &--icon {
            display: grid;
            grid-template: 1fr / var(--size-icon-xlarge) 1fr;
            gap: 0.25rem;
            align-items: center;

            img {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                width: var(--size-icon-xlarge);
                height: var(--size-icon-xlarge);
                border-radius: var(--border-radius-full);
                background: rgba(50, 50, 50, .8);
                border: 4px solid rgba(0, 0, 0, .1);
                transition: all var(--duration-quick);
                overflow: hidden;
            }
        }

        .element {
            @include containerLayout(
                grid,
                $rows: repeat(2, min-content), 
                $columns: 1fr,
                $gap: var(--size-root-quarter), 
                $padding: var(--size-root-quarter),
                $width: initial,
                $margin: 0
            );
        }

        .select__category {
            position: relative;
            display: flex;
            flex-direction: row-reverse;
            text-transform: capitalize;

            select {
                @include select(1, 0, 100%);
                @include selectStyle();
                
                &:focus {
                    outline: 2px solid var(--color-focus);
                    // box-shadow: var(--box-shadow-inset);
                    transition: var(--duration-quick);
                }
            }

            i {
                position: absolute;
                align-self: center;
                right: var(--size-root-half);
                width: var(--size-icon-large);
                height: var(--size-icon-large);
                pointer-events: none;
            }
        
            i:before {
                content: '\f107';
                display: flex;
                align-items: center;
                justify-content: center;
                width: var(--size-icon-large);
                height: var(--size-icon-large);
                color: var(--color-link);
                font-family: 'Font Awesome 5 Free';
                font-size: var(--size-root-full);
            }
        }

        input[type='text'],
        input[type='email'],
        textarea {
            color: var(--color-input-fg);
            font-size: var(--size-font);
            font-family: var(--font-family-input);
            font-weight: var(--font-weight-input);
            background-color: var(--color-input-bg);
            padding: var(--size-root-full);
            border-radius: var(--border-radius);
            border: 1px solid var(--color-input-border);

            &::placeholder {
                color: var(--color-placeholder);
            }
            
            &:focus {
                outline: 2px solid var(--color-focus);
                // box-shadow: var(--box-shadow-inset);
                transition: var(--duration-quick);
            }
        }
        
        .element,
        header,
        h3,
        h4,
        hr,
        p,
        input {
            white-space: pre-wrap;
        }

        h4 {
            text-transform: capitalize;
            border-bottom: 1px solid rgba(130, 130, 130, .5);
            box-shadow: 0 2px 2px -0.125rem rgba(0, 0, 0, 1);
        }
        
        .btn__back {
            justify-self: flex-start;
        }

        .btn__next{
            justify-self: flex-end;
            
            &:last-of-type {
                grid-column: 2;
            }
        }
        
        .btn__send {
            justify-self: flex-end;
        }
    }
}