.dashboard {
    @include containerLayout(
        grid,
        $rows: auto, 
        $columns: 1fr,
        $gap: var(--size-root-full), 
        $padding: 0,
        $width: var(--size-recipe),
        $margin: 0 auto
    );
    animation: fadeUp var(--duration);
}

