.landing {
    display: flex;
    height: calc(80vh - var(--size-header));
    min-height: -webkit-fill-available;
    
    @include breakpoint(small){
        padding: var(--size-root-full);
    }
    
    form {
        --color-label: rgba(245, 245, 245, 1);
        
        z-index: 1;
        display: flex;
		flex-wrap: wrap;
        align-content: center;
        align-self: center;
		justify-content: center;
        width: 100%;
        max-width: var(--size-login);
        line-height: calc(var(--line-height) * 2);
        margin: 0 auto;
        padding: var(--size-root-full);
        box-shadow: var(--box-shadow-ui);
        border-radius: var(--border-radius);
        background-color: var(--color-login-background);
        animation: fadeUp var(--duration);

        img,
        svg {
            --size-icon: 100px;

			flex: 1 0 100%;
			object-fit: contain;
			height: var(--size-icon);
            margin-top: calc((var(--size-icon) / 1.125) * -1);
            filter: drop-shadow(0px 0.15rem .125rem rgba(255, 255, 255, 0.2));            
		}

        fieldset {
            @include containerLayout(
                grid,
                $rows: auto, 
                $columns: 1fr,
                $gap: var(--size-root-full), 
                $padding: var(--size-root-full),
                $width: var(--size-max),
                $margin: 0 0 var(--size-root-full) 0
            );
        }

        label {
            color: var(--color-label);
        }
	}
}