.recipe__search {
    margin: 0 auto;
    animation: fadeUp var(--duration);

    & > header {
        z-index: 1;
        position: sticky;
        display: flex;
        justify-content: space-between;
        align-items: center;
        top: var(--size-header);
        padding: var(--size-root-full);
        backdrop-filter: blur(5px);
    }

    ul {
        @include containerLayout(
            grid,
            $rows: 1fr,
            $columns: repeat(2, 1fr),
            $gap: var(--size-root-full),
            $padding: 0,
            $width: var(--size-max),
            $margin: 0 auto
        );
        border-radius: var(--border-radius);

        @include breakpoint(small) {
            grid-template: 1fr/1fr;
        }
    }

    li {
        list-style-type: none;
    }

    .card {
        display: flex;
        gap: var(--size-root-half);
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;
        padding: var(--size-root-full);
        border: var(--focus-border-hidden);
        border-radius: var(--border-radius);
        box-shadow: var(--box-shadow-ui);
        background-color: var(--color-card-background);
        cursor: pointer;

        &:last-child() {
            margin-left: auto;
        }

        &__title {
            color: var(--color-card-title);
            font-size: var(--size-card-title);
        }

        &__author {
            color: var(--color-card-title);
        }

        &__date {
            font-size: var(--size-font-small);

            @include breakpoint(small) {
                grid-column: 2;
                grid-row: 2;
            }
        }

        $icons: cake, pie, cookie, poultry, beef, pork, fish, salad, soup, rice, bread, sandwiche, pasta, sauce, spices;
        @each $icon in $icons {
            &__icon--#{$icon} {
                flex: 0 0 var(--size-card-icon);
                // background-color: var(--color-link-h);
                // mask-image: url(#{$pathToIcons}icons_#{$icon}.svg);
                // background: radial-gradient(ellipse at bottom, rgba(0, 0, 0, .55) 0, rgba(0, 0, 0, 0) 80%);
            }
        }

        img {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: var(--size-card-icon);
            height: var(--size-card-icon);
            border-radius: var(--border-radius-full);
            background: rgba(50, 50, 50, 0.8);
            border: 4px solid rgba(0, 0, 0, 0.1);
            transition: all var(--duration-quick);
            overflow: hidden;
        }

        &:hover,
        &:focus {
            img {
                border: 4px solid var(--color-link-h);
            }
        }

        &:focus-visible {
            color: var(--color-link-h);
            border: var(--focus-border-active);
        }

        &:hover,
        &:focus:not(:focus-visible) {
            color: var(--color-link-h);
        }
    }

    .element {
        display: flex;
        flex: 0 1 48%;
        justify-content: flex-end;

        & > label {
            display: none;
        }

        input[type="search"] {
            width: var(--size-icon-large);
            font-size: var(--size-font);
            font-family: var(--font-family-input);
            font-weight: var(--font-weight-input);
            padding: var(--size-root-full);
            background-color: transparent;
            border: var(--focus-border-hidden);
            transition: all var(--duration-quick);

            &::placeholder {
                color: var(--color-placeholder);
            }

            &:focus {
                flex: 1;
                color: var(--color-input-fg);
                background-color: var(--color-input-bg);
                border-radius: var(--border-radius);

                outline: 2px solid var(--color-focus);
                // box-shadow: var(--box-shadow-inset);
                transition: var(--duration-quick);

                & + i {
                    opacity: 0;
                }
            }
        }

        i {
            position: absolute;
            align-self: center;
            right: var(--size-icon-large);
            width: var(--size-icon-large);
            height: var(--size-icon-large);
            pointer-events: none;
            
            &:before {
                content: "\f002"; //"\f0b0";
                display: flex;
                align-items: center;
                justify-content: center;
                width: var(--size-icon-large);
                height: var(--size-icon-large);
                color: var(--color-link);
                font-family: "Font Awesome 5 Free";
                font-size: var(--size-root-full);
            }
        }
    }
}
