@font-face {
  font-family: Roboto;
  src: url(#{$pathToFonts}Roboto/Roboto-Regular.ttf);
  font-display: swap;
}

#root:before {
    // z-index: var(--depth-negative);
    z-index: var(-1);
    content: '';
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url('#{$pathToImages}stock/pexels-monicore-1087897.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 50%;
    filter: brightness(0.5);
    box-shadow: inset 0px 0px 10rem -1rem black;

    @include breakpoint(small) {
        background-color: rgba(59, 49, 52, 1);
        background: url('#{$pathToImages}stock/pexels-monicore-1087897-small.jpg') no-repeat;
        background-size: cover;
    }
}

main {
    position: relative;
    z-index: var(--depth-content);
    // transform: var(--depth-content);
    max-width: var(--size-max);
    min-height: calc(100vh - (var(--size-header)));
    margin: 0 auto 0 auto;
    padding: var(--size-root-full);

    @include breakpoint(small) {
        padding: initial;
    }
}

footer {
    min-height: var(--size-footer);

    @include containerLayout(
        grid,
        $rows: 1fr, 
        $columns: repeat(2, 1fr),
        $gap: var(--layout-content-gap), 
        $padding: var(--size-root-full),
        $width: var(--size-max),
        $margin: 0 auto
    );
    align-self: stretch;
    color: var(--color-footer-fg);
    background: var(--color-footer);

    @include breakpoint(small) {
        grid-row: 1fr;
        grid-column: 1fr;
    }

    .copyright {
        align-self: center;
        justify-self: flex-end;
        font-size: var(--size-font-small);

        @include breakpoint(small) {
            justify-self: center;
        }
    }
}