// theme colors light to dark
// http://www.color-hex.com/color-palette/51917
// https://material.io/color/#!/?view.left=0&view.right=0&primary.color=0277BD

// required for svg fill
    $svg-fill: null !default;

// pathing
$pathToBrand:   'https://cdn.kidkrazy.net/kidkrazydotnet/_images/brand/';
$pathToIcons:  'https://cdn.kidkrazy.net/recipes/icons/';
$pathToImages:  'https://cdn.kidkrazy.net/recipes/images/';
$pathToHero:    'https://cdn.kidkrazy.net/recipes/images/hero/';
$pathToFonts:    '../assets/fonts/';

// for fontawesome this is required
// $fa-font-path:         "../assets/fonts/fontawesome-free-5.15.2-web/webfonts";