.social {
    @include containerLayout(
        grid,
        $rows: 1fr, 
        $columns: epeat(auto-fit, var(--size-icon-large)),
        $gap: var(--size-root-full), 
        $padding: var(--size-root-full),
        $width: var(--size-max),
        $margin: 0 auto
    );
    
    align-items: center;

    @include breakpoint(small) {
        justify-content: center;
    }

    & > li {
        height: var(--size-icon-large);

        & > a,
        & > span {
            display: flex;
            color: var(--color-link);
            height: var(--size-icon-large);
            width: var(--size-icon-large);
            font-size: 0;
            cursor: pointer;
            
            i {
                width: var(--size-icon-large);
                height: var(--size-icon-large);
            }
            
            i:before {
                width: var(--size-icon-large);
                height: var(--size-icon-large);
                font-size: var(--size-icon-large);
            }
        }
    }
}