:root{
    //custom content
        --size-brand: 60px;
        --size-header: 80px;
        --size-nav-width: 300px;
        --size-footer: 80px;

        --size-hero-font: 2rem;
        --size-hero-font-small: 80%;
        --color-hero-content: var(--color-heading);
        --color-hero-background: var(--color-body);
        
        --size-content: 900px;

        --size-login: 400px;
        --size-login-small: 80vw;
        --color-login-background: rgba(255, 255, 255, .1);
        // --color-login-background:rgb(50, 50, 50, .8);
        
        --size-card-title: 1.25rem;
        --color-card-title: rgba(255, 255, 255, 1);
        --color-card-background: rgba(255, 255, 255, .1);
        --color-card-icon: rgba(255, 255, 255, .8);
        --size-card-icon: 48px;
        
        --size-recipe: 600px;
        --size-recipe-media: 300px;
        --box-shadow-recipe-media: 0px 0.5rem 1rem -0.125rem rgb(0, 0, 0, .75);
        
        // --size-galery-media-width: 80vw;
        // --size-galery-media-height: 80vh;
        // --color-galery-background: rgb(255, 255, 255);
        // --color-gallery-overlay: rgba(0, 0, 0, .75);

    }