:root{
    //design elements
        --backdrop-filter-ui: brightness(0.4) blur(2px);
        --box-shadow-ui: 0px .5rem 2rem -.125rem rgba(0, 0, 0, .5);
        --backdrop-filter: blur(5px);
        --color-border-all: rgba(255, 255, 255, 1);
        --border-radius: .5rem;
        --border-radius-full: 100%;
        --box-shadow: 0px .5rem 1rem -.125rem rgba(255, 255, 255, .25);
        // --box-shadow-shallow: 0px 1px 4px 0 rgba(80, 80, 80, .5);
        --box-shadow-inset: inset 0px 0px .5rem .125rem rgba(0, 220, 120, .5);
        --text-shadow: 1px 2px .25rem rgba(0, 0, 0, 0.6);
}