:root{
    // icons
        --color-icon: rgba(70, 190, 250, 1);
        --color-icon-h: rgba(10, 130, 190, 1);
        --size-icon-2xlarge: 64px;
        --size-icon-xlarge: 32px;
        --size-icon-large: 24px;
        --size-icon-medium: 16px;
        --size-icon-small: 12px;
}