:root {
    // max page width
    --size-max: 1200px;
    --size-page: 800px;

    // minimum touch sizing
    --size-touch: 40px;

    // border-radius
    --size-border-radius: 0.25rem;
    --size-border-radius-full: 100%;
    --size-border-radius-switch: 50px;
    --size-border-radius-meter: 50px;

    // #spacing (padding/margin)
    --size-root-eigth: 0.125rem;
    --size-root-quarter: 0.25rem;
    --size-root-half: 0.5rem;
    --size-root-3quarter: 0.75rem;
    --size-root-full: 1rem;
    --size-root-2x: 2rem;

    // alpha declarations
    --alpha-full: 1;
    --alpha-3quarter: 0.75;
    --alpha-half: 0.5;
    --alpha-quarter: 0.25;
    --alpha-eighth: 0.125;
    --alpha-none: 0;

    // z-index
    --depth-posiive: 1;
    --depth-negative: -1;
    --depth-header: 3;
    --depth-navToggle: 4;
    --depth-nav: 3;
    --depth-lightbox: 5;
    --depth-prelaoder: 5;
    --depth-headings: 2;
    --depth-content: 1;
}