:root{
    //typography
        --size-font: 1rem;
        --size-font-small: 80%;
        --font-family: sans-serif;
        --font-family-heading: sans-serif;
        --font-weight: 400;
        --font-weight-light: 300;
        --font-weight-heavy: 700;
        --line-height: 1.5;
}